body{
    max-height: 1000px;
    padding: 2%;
}
hr{
    border-style: dashed;
}
.btnSave{
    width: 36%;
}
.colored{
    border-radius: 25px;
    background-color: #F7F7F7;
}

.cardContent{
    padding-top: 7%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 10%;
}
.settings{
    margin-top: 2%;
    margin-left:42%;
}
.card{
    margin-left: 20%;
    max-width: 60%;
}

.header{
    text-align:left;
    overflow: hidden;
}
.cardContent{
    padding: 2%;
}
.rightBtn{
    margin: 0.5%;
    float: right;
}

.headerBtn{
    float:right;
}
.bannedPerson{
    margin-bottom: 2%;
}