<!DOCTYPE html>
<html lang="en" ng-app="testApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>SoN-groups</title>
		<link href="../css/style.css" type="text/css" rel="stylesheet" />
		<script src="../bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="../script/app.js"></script>
	    <script type="text/javascript" src="../script/controller/group-controller.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<ul class="top-menu">
					<li><a href="">SoN</a></li>
					<li><input type="text" name="search" placeholder="search"></li>
		            <li><a href="">search</a></li>
		            <li><a href="">help</a></li>
		            <li><a href="">settings</a></li>
		            <li><a href="">log out</a></li>
        		</ul>
			</div>
			
			<div id="content">
				<ul class="vert-menu">
					<li><a href="">Profile</a></li>
		            <li><a href="">Wall</a></li>
		            <li><a href="">Friends</a></li>
		            <li><a href="">Messages</a></li>
		            <li><a href="">Groups</a></li>
		            <li><a href="">Audio</a></li>
		            <li><a href="">Video</a></li>
        		</ul>

				<div class="group-place" ng-controller="GroupController">
					<div class="quantity">
						<p>You are a member of 4 communities</p>
					</div>

					<div class="search-group">
						<input type="text" name="search-group" placeholder="search" ng-model="searchGroups">
						<div class="create-community"><a href="">create community</a></div>
					</div>
					
					<div class="masonry-group">
    					<!-- Адаптивные блоки с содержанием -->

						<div class="item" ng-repeat="group in groups | filter: searchGroups">
							<div class="top">
								<h2>{{group.name}}</h2>
								<span>{{group.folowers}} folowers</span>
							</div>
							<div class="prime">
								<img src="{{group.imageUrl}}">
							</div>
						</div>
					</div>
					    <!-- Конец контейнера с адаптивными блоками -->
				</div>		
			</div>
		</div>
	</body>
</html>