/*--------------------------------------------------------------------Common CSS-----------------------------------------------------------------------------*/

@import url(reset.css);

body {
    font: 14px/1.5 Arial, Verdana, sans-serif;
    color: #353535;
    background-color: #E3E6F4;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.absolute {
    position: absolute;
    top: -50px;
    left: 0;
}

.anchor {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.anchor img {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
}


a:hover {
    background-color: #E8BEE9;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #91A1E2;
    border-radius: 5px;
}

#wrapper {

    max-width: 900px;
    margin: 0 auto;
    height: auto;
    background-color: white;          /*bad-white     no-bad-white*/
    min-height:100vh;
    position: relative;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    max-width: 900px;
    background-color: #91A1E2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 15px;
    margin: 0 auto;
}

#header .logo{
    float: left;
    width: 50px;
    height: 30px;
    margin: 5px 0px 5px 5%;
}

#header .logo img{
    display: block;
    width: 100%;
    height: 100%;
}

#header #search {
    width: 35%;
    padding-top: 4px;
    float: left;
    margin-left: 10%;
}

#header #search input {
    height: 30px;
    float: left;
    padding: 0 10px;
    border: none;
    background: #f1f1f1;
}

#header #search input[type="text"] {
    width: 75%;
    margin-right: 3%;
}

#header #search input[type="submit"] {
    width: 22%;
    cursor: pointer;
    border-radius: 5px;
}

#header .top-menu {
    float: right;
    padding-right: 15px;
}

#header .top-menu li {
    display: inline-block;
}

#header .top-menu li a {
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    padding:10px 15px;
}

#header .top-menu input {
    width: 80%;
    padding: 3px 5px;
    border-radius: 5px;
}

.vert-menu {
    float: left;
    list-style: none;
    width: 160px;
    height: auto;
    text-align: left;
}

.vert-menu li {
    background-color: white;
    border-bottom: 1px solid #FFFFFF;
    position: relative;
}

.vert-menu li a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #91A1E2;
    position: relative;
    padding-left: 45px;
}
.vert-menu li a:hover{
    border-radius: 0;
}

.vert-menu li a:before{
    width: 30px;
    height: 30px;
    content: url("../image/material/home.png");
    position: absolute;
    top: 8px;
    left: 15px;
}
.vert-menu li:nth-child(2) a::before{
    content: url("../image/material/friends.png");
}
.vert-menu li:nth-child(3) a::before{
    content: url("../image/material/message.png");
}
.vert-menu li:nth-child(4) a::before{
    content: url("../image/material/groups.png");
}
.vert-menu li:nth-child(5) a::before{
    content: url("../image/material/musical-note.png");
}
.vert-menu li:last-child a::before{
    content: url("../image/material/video.png");
}

.vert-menu-unvis{
    display: none;
}

.vert-menu-mobile {
    display: block;
    position: fixed;
    list-style:none;
    margin: 0;
    margin-top: 41px;
    box-sizing: border-box;
    width: 200px;
    background-color: #eee;
    height: auto;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -o-transform: translateZ(0);
    -o-backface-visibility: hidden;
    transform: translateZ(0);
    backface-visibility: hidden;
    background-color: white;
}

.vert-menu-mobile .hidden {
    display: none;
}

.vert-menu-mobile li{
    border-bottom: 1px solid #91A1E2;
    text-align: center;
    text-align: left;
}
.vert-menu-mobile li a{
    display: block;
    padding: 8px 14px;
    text-decoration: none;
    color: #91A1E2;
    padding-left: 50px;
    position: relative;
}
.vert-menu-mobile li a::before{
    width: 30px;
    height: 30px;
    content: url("../image/material/home.png");
    position: absolute;
    top: 10px;
    left: 17px;
}
.vert-menu-mobile li:nth-child(2) a::before{
    content: url("../image/material/friends.png");
}
.vert-menu-mobile li:nth-child(3) a::before{
    content: url("../image/material/message.png");
}
.vert-menu-mobile li:nth-child(4) a::before{
    content: url("../image/material/groups.png");
}
.vert-menu-mobile li:nth-child(5) a:before{
    content: url("../image/material/musical-note.png");
}
.vert-menu-mobile li:nth-child(6) a::before{
    content: url("../image/material/video.png");
}
.vert-menu-mobile li:nth-child(7) a::before{
    content: url("../image/material/settings.png");
}
.vert-menu-mobile li:nth-child(8) a::before{
    content: url("../image/material/logout.png");
}
.vert-menu-unvis .hidden-menu-ticker {
    display: none;
}
.vert-menu-unvis .btn-menu {
    color: #fff;
    padding: 5px;
    position: fixed;
    top: 3px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -o-transform: translateZ(0);
    -o-backface-visibility: hidden;
    transform: translateZ(0);
    backface-visibility: hidden;
}
.vert-menu-unvis .btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.vert-menu-unvis .btn-menu span.first {
    margin-top: 0;
}

.vert-menu-unvis .hidden-menu-ticker:checked ~ .vert-menu-mobile {
    left: 0;
}
.vert-menu-unvis .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px;
}
.vert-menu-unvis .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.vert-menu-unvis .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
}

.content-place {
    background-color: white;
    overflow: hidden;
    position: relative;
    min-height:93.5vh;
    border-left: 1px solid #91A1E2;
    margin-left: 160px;
    margin-top: 41px;
}


/* The number groups and friends of the user's */
.quantity {
    background-color: #7DD493;
    padding: 8px 20px;
    text-align: left;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 0 5px 0 0;
}

/* Search/filter groups and friends */
.filter {
    background-color: #B8D98C;
    padding: 8px 20px;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
}


/* Сontainer with adaptive block */
.masonry-place {
    overflow: hidden;
    float: left;
    width: 98%;
    margin: 1.5em 0;
    padding: 0 2%;
    column-gap: 1em; /* Common size among columns */
    font-size: .85em;
    -moz-column-gap: 1em; /* Size among columns for Firefox */
    -webkit-column-gap: 1em; /* Size among columns for Safari, Chrome and iOS */
}

.item {
    display: inline-block;
    background-color: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* For Firefox */
    -webkit-box-sizing: border-box; /* For Safari, Chrome, iOS and Android */
}



/*--------------------------------------------------------------------------------FRIENDS------------------------------------------------------------------------*/



#friends .filter {
    display: none;
}

#friends .filter input {
    width: 40%;
    padding: 3px 5px;
    border: none;
    height: 30px;
}

/* ------------- Сontainer with adaptive block ------------- */

#friends .top {
    padding: 2px 5px;
    background-color: #2E878A;
    font-size: 100%;
    color: #FFFFFF;
    line-height: 1;
    white-space: nowrap;
}

#friends .prime img {
    display: block;
    width: 100%;
    height: 200px;
    cursor: pointer;
}


#friends .control-panel {
    height: 30px;
    border-bottom: 1px solid #91A1E2;
}

#friends .control-panel li {
    display: inline-block;
    width: 31%;
}

#friends .control-panel li a {
    display:block;
    padding:2.5px 5px;
}

#friends .control-panel li a img {
    display: block;
    margin: 0 auto !important;
    width: 25px;
    height: 25px;

}





/*--------------------------------------------------------------------------GROUPS------------------------------------------------------------------------------*/



#groups .quantity {
    border-radius: 0 5px 5px 0;
}

#groups .filter input {
    width: 40%;
    padding: 3px 5px;
    border: none;
    height: 30px;
}

#groups .filter .create-community {
    font-size: 14px;
    float: right;
    background-color: #2E538A;
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFFFFF;
    cursor: pointer;
}

#groups .filter .create-community:hover {
    background-color: #91A1E2;
    border-radius: 5px;
}

#groups .filter .create-community a {
    display: block;
    padding: 5px 5px;
    color: #ffffff;
    text-decoration: none;
}

#groups .hidden-create-group,
#groups .create-group {
    display: none;
}

#groups .create-group .line-description textarea {
    resize: none;
}

#groups .hidden-create-group:checked ~ .create-group {
    display: block;
}

#groups .create-group {
    color: #0B8BB5;
}

#groups .create-group .line {
    overflow: hidden;
    padding: 0 0;
    margin: 2.5% 25%;
}

#groups .create-group .line span {
    margin: 0;
    padding: 0;
    font-size:20px;
    float: left;
}

#groups .create-group .line input[type="text"], textarea{
    float: right;
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 10px 15px 10px 25px;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#groups .create-group input[type="submit"] {
    margin: 3% auto;
    background-color: #ffb94b;
    border-radius: 3px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    height: 35px;
    width: 130px;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}



/* ------------- Контейнер с адаптивными блоками------------- */

#groups .top {
    padding: 2px 5px;
    background-color: #2E878A;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1;
}

#groups .top span{
    font-size: 13px;
}

#groups .prime img {
    display: block;
    width: 100%;
    height: 270px;
}





/*----------------------------------------------------------------------------------------VIDEO-----------------------------------------------------------------------------------------*/


#video {
    overflow: hidden;
    padding-top: 15px;
}

#video .videoPlayer {
    width: 80%;
}

#video video {
    width: 85%;
}


/* Элементы в виде плиток с содержанием */

#video .prime img {
    display: block;
    width: 100%;
    height: 160px;
    cursor: pointer;
}

#video .bottom {
    padding: 5px 5px 5px 5px;
    background-color: #2E878A;
    color: #FFFFFF;
    line-height: 1;
}

#video .bottom span{
    font-size: 120%;
}







/*--------------------------------------------------------------------------HOME--------------------------------------------------------------------------------*/



/* Всплывающее окно */
.popup-checkbox, .popup {
    display: none;
}

.popup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.popup:before {
    display: block;
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}

.popup-content {
    width: 550px;
    height: 300px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popup-shower {
    color: #00f;
    cursor: pointer;
    text-decoration: underline;
}

.popup-shower:hover {
    color: #00a;
    text-decoration: underline;
}

.popup-closer {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #999;
    font-size: 20px;
    border: 1px solid #999;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup-closer:hover {
    background-color: #eee;
}

.popup-checkbox:checked + .popup {
    opacity: 1;
    display: block;
}



.popup-content h1 {
    font-size: 16px;
    color: orange;
}
/*_____*/




#content-home .autorization-form {
    background-color: #fff;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #91A1E2 40%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #91A1E2 40%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #91A1E2 40%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(40, #91A1E2));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #91A1E2 40%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #91A1E2 40%);
    width: 350px;
    padding: 20px;
    border-radius: 3px;
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 1;
}

#content-home .autorization-form:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

#content-home .autorization-form h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#content-home .autorization-form fieldset {
    border: 0;
    padding: 0;
    margin: 0 0 20px 0;
    overflow: hidden;
}

#content-home .autorization-form #inputs input {
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#content-home .autorization-form #username {
    background-position: 5px -2px !important;
}

#content-home .autorization-form #password {
    background-position: 5px -52px !important;
}

#content-home .autorization-form #inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

#content-home .autorization-form #enter,
#content-home .autorization-form #registration {
    background-color: inherit;
    border: none;
    text-align: left;
    height: 30px;
    margin:0 auto 10px;
    padding: 0 10px 0 0;
    width: 130px;
    cursor: pointer;
    font: 15px Arial, Helvetica;
    color: black;
}

.submit-enter, .button-registration {
    float: left;
    margin-left: 105px;
    position: relative;
}

#content-home .autorization-form #actions .submit-enter:before,
#content-home .autorization-form #actions .button-registration:before {
    width: 32px;
    height: 32px;
    content: url("../image/arrow.png");
    position:absolute;
    top: 0;
    left: -45px;
    display: block;
    z-index: 10;
}

#content-home .autorization-form #actions .button-registration:before {
    top: -1px;
    content: url("../image/star.png");
}

#content-home .autorization-form #enter:hover,
#content-home .autorization-form #registration:hover {
    color: white;
}

#content-home .autorization-form #enter:active,
#content-home .autorization-form #registration:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}





/*---------------------------------------------------------------------FORGOT_PASSWORD---------------------------------------------------------------------------*/


#content-home .popup-content h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 10px;
}

#content-home .popup-content p {
    font-size: 20px;
    line-height: 1.4;
}

#content-home .popup-content .line {
    overflow: hidden;
    padding: 0 0;
    margin: 15px;
}

#content-home .popup-content .line input[type="email"] {
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 7px 15px 7px 15px;
    width: 280px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

#content-home .popup-content input[type="submit"] {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    height: 35px;
    margin:10px auto;
    padding: 0;
    width: 130px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#content-home .popup-content input
{
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px auto;
}

#content-home .popup-content input[type="submit"]:hover {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#content-home .popup-content input[type="submit"]:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#content-home .popup-content input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}








/*-----------------------------------------------------------------------------------------AUDIO------------------------------------------------------------------------------------------*/




#audio .player {
    overflow: hidden;
}

#audio .player audio {
    width: 100%;
    margin-top: 10px;
}

#audio-list .track {
    overflow: hidden;
    width: 100%;
    padding: 7px 15px;
    background-color: #E4F1F6;
    border-bottom: 1px solid #2F5B8E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#audio-list .track .play-audio {
    float: left;
    margin-left: 2%;
    width: 15px;
    height: 15px;
}

#audio-list .track .play-audio img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#audio-list .track .name {
    float: left;
    margin-left: 5%;
    font-size: 16px;
}

#audio-list .track .audiotime {
    float: right;
    margin-right: 5%;
    font-size: 16px;
}





/*--------------------------------------------------------------------------------PROFILE------------------------------------------------------------------------*/


#profile{
    overflow: hidden;
}

.place-icon {
    float: left;
    margin: 15px 10px 10px;
    padding: 3px;
    width: 33%;
    min-width: 200px;
    background-color: #949ADB;
    border-radius: 5px;
}

.place-icon .edit {
    background-color: #91A1E2;
    border:1px solid #FFFFFF;
    border-radius: 5px;
}

.place-icon .edit a {
    display:block;
    color: #FFFFFF;
    text-decoration:none;
    padding:10px 15px;
}

.place-info {
    float: left;
    margin: 15px 0 15px 0;
    width: 60%;
    text-align: left;
}

.place-info .block {
    padding: 10px;
    border: 3px solid #91A1E2;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 7px;
    background-color: #fff;
    min-width: 200px;
}

.place-info .block:last-child {
    margin-bottom: 0;
}

.place-info .name {
    font-size: 18px;
    font-weight: bold;
}

.place-info .block .big-line {
    margin-bottom: 5px;
}

.place-info .block .line {
    margin-left: 20px;
}

.place-info .block .line .pre-line {
    float: left;
    min-width: 70px;
}


/*Add post*/
.add-post{
    float: left;
    background-color: #91A1E2;
    padding: 8px 15px;
    margin: 0 5%;
    width: 89.8%;
    border-radius: 5px;
    overflow: hidden;
}

.add-post textarea {
    width: 100%;
    color: black;
    border-radius: 3px;
    margin-bottom: 5px;
    resize: none;
}

.add-post button{
    border-radius: 5px;
    width: 80px;
    background-color: #2E538A;
    border: none;
    color: white;
    padding: 3px;
    float: left;
    margin-left: 5%;
}

.add-post .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    color: white;
    display: inline-block;
    float: right;
    margin-right: 5%;
}
.inputfile:focus + label,
.inputfile + label:hover {
    color: red;
}
.inputfile + label {
    cursor: pointer;
}


/*--------------------------------------------------------------------------------------SETTINGS-------------------------------------------------------------------------------------- */


#settings {
    width: 100%;
    background-color: #7DD493;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#settings .tab {
    float: left;
    display: inline-block;
    font-size: 16px;
}

#settings .tab a {
    padding: 6px 15px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

#black-list .ban-panel {
    padding: 6px 15px;
    width: 100%;
    background-color: #B8D98C;
    overflow: hidden;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#black-list .ban-panel input[type="text"] {
    float: left;
    width: 40%;
    padding: 4px 5px;
    border:none;
    min-width: 130px;
}

#black-list .ban-panel input[type="submit"] {
    float: right;
    background-color: #2E538A;
    color: #FFFFFF;
    border: none;
    padding: 3px 4px;
    border-radius: 5px;
}

#black-list .ban-panel input[type="submit"]:hover {
    background-color: #91A1E2;
    border-radius: 5px;
}

#black-list .ban-list .user {
    overflow: hidden;
    width: 100%;
    padding: 7px 15px;
    background-color: #E4F1F6;
    border-bottom: 1px solid #2F5B8E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#black-list .ban-list .user .user-info {
    float: left;
}

#black-list .ban-list .user .user-info .avatar{
    float: left;
    width: 30px;
    height: 30px;
}

#black-list .ban-list .user .user-info .avatar img {
    width: 100%;
    height: 100%;
}

#black-list .ban-list .user .user-info .name {
    float: left;
    margin-left: 10px;
    font-size: 16px;
}

#black-list .ban-list .user input {
    float: right;
    border-radius: 5px;
    background-color: #8CBFD9;
    border: none;
    color: #fff;
    padding: 3px 4px;
}

#black-list .ban-list .user input[type="submit"]:hover {
    background-color: #91A1E2;
    border-radius: 5px;
}

#change_pass {
    text-align: left;
    font-size:22px;
    width: 65%;
    margin: 10px 5% 0 15%;
    overflow: hidden;
}

#change_pass .line {
    overflow: hidden;
    margin: 20px 0;
}

#change_pass .line span {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden;
}

#change_pass input[type="text"] {
    display: block;
    float: right;
    font-size: 17px;
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 5px 15px 5px 15px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

#change_pass input[type="submit"] {
    display: block;
    background-color: #ffb94b;
    border-radius: 3px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    height: 35px;
    width: 130px;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    margin: 30px auto;
}









/*---------------------------------------------------------------------------REGISTRATION----------------------------------------------------------------------*/




#content-registration {
    overflow: hidden;
    padding: 20px 0 0 0;
    background-color: #CAEEFA;
    min-height: 100vh;
}

#content-registration h1 {
    font-size: 55px;
    font-weight: bold;
}

#content-registration .data {
    overflow: hidden;
    width: 55%;
    margin: 0 auto;
}

#content-registration .line {
    overflow: hidden;
    margin: 20px 0;
}

#content-registration .line span {
    font-size: 25px;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden;
}

#content-registration .line p {
    float: right;
    color: red;
    font-size: 16px;
    display: block;
}

#content-registration .line input[type="text"],
#content-registration .line input[type="password"],
#content-registration .line input[type="email"]{
    float: right;
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 5px 10px 5px 25px;
    width: 220px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#content-registration .line .sex {
    float: right;
    font-size: 18px;
    margin-top: 8px;
}
#content-registration .line input[type="radio"] {
    float: right;
    margin: 16px 40px 0 10px;
}

#content-registration input[type="submit"] {
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #A1B1F2 40%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #A1B1F2 40%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #A1B1F2 40%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(40, #A1B1F2));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #A1B1F2 40%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #A1B1F2 40%);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    height: 35px;
    margin: 15px auto ;
    padding: 0;
    width: 130px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
}

#content-registration .line input[type="text"],
#content-registration .line input[type="password"],
#content-registration .line input[type="email"]
{
    display: block;
    float: right;
    font-size: 17px;
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 5px 15px 5px 15px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

#content-registration input[type="submit"]:hover {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#content-registration input[type="submit"]:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#content-registration input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*Валидация пароля*/

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
}





/*----------------------------------------------------POSTS---------------------------------------------*/



.place-post .post-container {
    float: right;
    margin-left: 4%;
    margin-top: 3%;
    width: 90%;
    max-height: 30%;
    float: left;
    text-align: left;
    position: relative;
    border: 1px solid orange;
    border-radius: 5px;
    overflow: hidden;
}

.place-post .post-container:last-child {
    margin-bottom: 10px;
}

.place-post .post-container .close {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin-top:5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.place-post .post-container:hover .close {
    display: block;
}

.place-post .post-container .close img {
    width: 100%;
    height: auto;
}

.place-post .post-container .sender-face {
    display: block;
    width: 11%;
    min-width: 50px;
    height: auto;
    margin-left: 0;
    float: left;
    border-radius: 50%;
    padding: 5px;
}

.place-post .post-container .post-info {
    margin-left: 13%;
    margin-right: 2%;
}

.place-post .post-container .post-info .sender-name {
    font-size: 16px;
    font-weight: bolder;
}

.place-post .post-container .post-info .post-text {

}

.place-post .post-container .post-info .post-media img {
    max-width: 100%;
    height: auto;
}

.place-post .post-container .post-info .replies {
    float: right;
    margin-right: 10px;
}






/*--------------------------------------------------------------------------------EDIT_PROFILE------------------------------------------------------------------------------------------*/


#edit-profile {
    text-align: left;
    font-size:22px;
    width: 65%;
    margin: 10px 5% 0 15%;
    overflow: hidden;
}

#edit-profile .line {
    overflow: hidden;
    margin: 20px 0;
}

#edit-profile .line span {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden;
}

#edit-profile .line input[type="text"],
#edit-profile .line input[type="password"],
#edit-profile .line input[type="email"] {
    display: block;
    float: right;
    font-size: 17px;
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 5px 15px 5px 15px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

#edit-profile .datefield {
    float: right;
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    width: 68px;
    margin-left: 9px;
    height: 30px;
    margin-top: 4px;
    font-size: 16px;
}

#edit-profile .line input[type="radio"] {
    float: right;
    margin: 16px 3% 0 10px;
}

#edit-profile .line .sex {
    float: right;
    font-size: 18px;
    margin-top: 8px;
}

#edit-profile input[type="submit"] {
    display: block;
    background-color: #ffb94b;
    border-radius: 3px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    height: 35px;
    width: 130px;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    margin: 30px auto;
}






/*------------------------------------------------------------------------------FACE-GROUP----------------------------------------------------------------------------------------------*/



#face-group .place-icon {
    float: left;
    margin: 15px 10px 10px;
    padding: 3px;
    width: 33%;
    min-width: 200px;
    background-color: #949ADB;
    border-radius: 5px;
}

#face-group .place-icon .join {
    background-color: #91A1E2;
    border:1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    padding:10px 15px;
}

#face-group .place-info {
    float: left;
    margin: 15px 0 15px 0;
    width: 60%;
    text-align: left;
}

#face-group .place-info .block {
    padding: 10px;
    border: 3px solid #91A1E2;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 7px;
    background-color: #fff;
    min-width: 200px;
}

#face-group .place-info .block:last-child {
    margin-bottom: 0;
}

#face-group .place-info .name {
    font-size: 18px;
    font-weight: bold;
}

#face-group .place-info .block .big-line {
    margin-bottom: 5px;
    color: #BCB6E7;
}

#face-group .place-info .block .line {
    margin-left: 20px;
}

#face-group .place-info .block .pre-line {
    margin-left: 10%;
    width: 15%;
    float: left;
}

#face-group .place-info .block .pre-line:last-child {
    width: 87%;
}

#face-group .place-info .block .post-line {
    float: left;
    min-width: 70px;
}






/*------------------------------------------------------------------------------MESSAGES----------------------------------------------------------------------------------------------*/




#messages-content .control {
    width: 35%;
    height: 100vh;
    float: left;
    border-right: 1px solid #2F5B8E;
    overflow: auto;
}

#messages-content .control .search {
    overflow: hidden;
    width: 100%;
    background-color: #E4F1F6;
    border-bottom: 1px solid #2F5B8E;
}

#messages-content .control .search input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 15px;
    background: #f1f1f1;
}

#messages-content .dialog {
    width: 65%;
    float: right;
}

#messages-content .people .person {
    overflow: hidden;
    width: 100%;
    padding: 7px 15px;
    background-color: #E4F1F6;
    border-bottom: 1px solid #2F5B8E;
}

#messages-content .people .person .avatar {
    width: 50px;
    height: 50px;
    float: left;
}

#messages-content .people .person .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}






.masonry-place {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

#friends .masonry-place {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

@media (max-width: 768px) {
    #header #search {
        position: relative;
        padding-top: 0;
        margin: 8px 0px 8px 3%;
        min-width: 180px;
    }

    #header #search input {
        height: 25px;
    }

    #header #search input[type="text"] {
        width: 100%
    }

    #header #search input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        text-indent: 999px;
        overflow: hidden;
        background: #f1f1f1 url(../image/ssearch.png) no-repeat center;
        background-size: contain;
    }

    .vert-menu{
        display: none;
    }

    .vert-menu-unvis{
        display: block;
    }

    .content-place {
        margin-left: 0;
        border:none;
    }

    #face-group .place-icon {
        width: 30%;
        min-width: 165px;
    }

    .place-icon {
        width: 30%;
        min-width: 165px;
    }


    /* filter panel */
    .quantity,
    .filter {
        border-radius: 5px 5px 5px 5px;
    }

    #groups .filter input,
    #friends .filter input {
        width: 50%;
        padding: 5px 15px;
        font-size: 16px;
    }

    #friends .filter {
        display: block;
    }

    #groups .filter .create-community {
        display: none;
    }


    /* friends and groups of the user's */
    #friends .masonry-place {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    #groups .item .prime img {
        height: 240px;
    }

    #groups .item .top {
        font-size: 18px;
    }

    #groups .item .top span{
        font-size: 12px;
    }

    #video .item .prime img {
        height: 150px;
    }
    /*___*/

    #friends .search-panel {
        display: none;
    }

    #groups #create-group {
        display: none;
    }

    #change_pass {
        font-size:20px;
        width: 75%;
    }

    #edit-profile {
        font-size:20px;
        width: 75%;
    }

    #edit-profile .line input[type="radio"] {
        float: right;
        margin: 16px 5% 0 10px;
    }

    #content-registration .data {
        width: 65%;
    }

}

@media (max-width: 480px) {

    #header .logo {
        display: none;
    }

    #header .top-menu {
        display: none;
    }

    #header #search {
        float: right;
        margin-right: 5%;
        width: 50%;
    }

    .vert-menu-mobile .hidden {
        display: block;
    }

    #face-group .place-info {
        float: left;
        width: 90%;
        margin-left: 5%;
    }

    .place-info {
        float: left;
        width: 90%;
        margin-left: 5%;
    }

    #face-group .place-icon {
        width: 70%;
        margin-left: 15%;
    }

    .place-icon {
        width: 70%;
        margin-left: 15%;
    }


    /* filter panel */
    .quantity,
    .filter {
        font-size: 16px;
        padding: 8px 10px;
    }

    #friends .filter input,
    #groups .filter input {
        width: 65%;
        padding: 5px 10px;
        font-size: 14px;
    }

    #friends .filter {
        display: block;
    }


    /* friends and groups of the user's */
    #friends .item .prime img{
        height: 160px;
    }

    #groups .item .prime img {
        height: 160px;
    }

    #groups .item .top {
        font-size: 16px;
    }

    #groups .item .top span{
        font-size: 11px;
    }

    #video .item .prime img {
        height: 110px;
    }

    .masonry-place {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    #friends .masonry-place {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    /*____*/

    #edit-profile {
        font-size: 18px;
        width: 65%;
        margin: 10px auto 10px auto;
    }

    #edit-profile .line {
        margin: 0;
    }

    #edit-profile .line span {
        margin: 15px 0 5px 0;
    }

    #edit-profile .line input[type="text"],
    #edit-profile .line input[type="password"],
    #edit-profile .line input[type="email"],
    #edit-profile .line .sexes {
        float: left;
        width: 100%;
        overflow: hidden;
    }

    #edit-profile .line .sex {
        float: right;
        font-size: 18px;
        margin-top: 8px;
    }

    #edit-profile .line input[type="radio"] {
        float: right;
        margin: 16px 15% 0 10px;
    }

    #content-registration #signup {
        font-size: 40px;
        padding-left: 10px;
    }

    #content-registration .data {
        width: 60%;
    }

    #content-registration .line input[type="text"],
    #content-registration .line input[type="password"],
    #content-registration .line input[type="email"] {
        float: left;
        width: 100%;
        overflow: hidden;
    }

    #content-registration .line span {
        font-size: 20px;
    }

    #change_pass {
        font-size: 18px;
        width: 65%;
        margin: 10px auto 10px auto;
    }

    #change_pass .line {
        margin: 0;
    }

    #change_pass .line span {
        margin: 15px 0 5px 0;
    }

    #change_pass input[type="text"] {
        float: left;
        width: 100%;
        overflow: hidden;
    }

    #video .bottom span{
        font-size: 100%;
    }

    .place-post .post-container .close {
        width: 15px;
        height: 15px;
    }


    .place-post .post-container .post-info {
        margin-left: 2%;
        margin-right: 2%;
    }


    .place-post .post-container .post-info .post-text {
        oveflow:hidden;
    }
}