/*----------------------------------------------------------------------Common CSS-----------------------------------------------------------------------------*/

@import url(reset.css);

body {
	font: 14px/1.5 Arial, Verdana, sans-serif;
	color: #353535;
    background-color: #E3E6F4;
	text-align: center;
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a:hover {
    background-color: #E8BEE9;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #91A1E2;
    border-radius: 5px;
}

.mobile {
    display: none;
}

#wrapper {
    
    max-width: 900px;
    margin: 0 auto;
    height: auto;                    
    background-color: white;          /*bad-white     no-bad-white*/   
    min-height:100vh;  
    position: relative;  
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1;
    overflow: hidden;
    max-width: 900px;
    background-color: #91A1E2;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    padding-left: 15px;
    margin: 0 auto;
}

#header .logo{
    float: left;
    width: 60px;
    height: 30px;
    margin: 5px 0px 5px 5%;
}

#header .logo img{
    display: block;
    width: 100%;
    height: 100%;
}

#header #search {
    width: 35%;
    padding-top: 4px;
    float: left;
    margin-left: 10%;
}

#header #search input {
    height: 30px;
    float: left;
    padding: 0 10px;
    border: none;
    background: #f1f1f1;
}

#header #search input[type="text"] {
    width: 75%;
    margin-right: 3%;
}

#header #search input[type="submit"] {
    width: 22%;
    cursor: pointer;
    border-radius: 5px;
}

#header .top-menu {
    float: right;
    padding-right: 15px;
}

#header .top-menu li {
    display: inline-block;
}

#header .top-menu li a {
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    padding:10px 15px;
}

#header .top-menu input {
    width: 80%;
    padding: 3px 5px;
    border-radius: 5px;
}

.vert-menu {
    float: left;
    list-style: none;
    width: 160px;
    height: auto;
    text-align: center;
}

.vert-menu li {
    background-color: white;
    border-bottom: 1px solid #FFFFFF;

}

.vert-menu li a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #91A1E2;
}

.vert-menu-unvis{
    display: none;
}

.vert-menu-mobile {
  display: block;
  position: fixed;
  list-style:none;
  margin: 0;
  margin-top: 43px;
  box-sizing: border-box;
  width: 200px;
  background-color: #eee;
  height: auto;
  top: 0;
  left: -200px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -o-backface-visibility: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  background-color: white;
}

.vert-menu-mobile .hidden {
    display: none;
}

.vert-menu-mobile li{
    border-bottom: 1px solid #91A1E2;
    text-align: center;
}
.vert-menu-mobile li a{
    display: block;
    padding: 8px 14px;
    text-decoration: none;
    color: #91A1E2;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -o-backface-visibility: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}

.hidden-menu-ticker:checked ~ .vert-menu-mobile {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -10px;
}

.group-place {
    height: auto;
    background-color: white;
}

.content-place {
    background-color: white;
    overflow: hidden;
    position: relative;
    min-height:93.5vh;
    border-left: 1px solid #91A1E2;
    margin-left: 160px;
    margin-top: 41px;
}




/*--------------------------------------------------------------------------GROUPS------------------------------------------------------------------------------*/


#groups .quantity {
    background-color: #7DD493;
    padding: 8px 20px;
    text-align: left;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 0 5px 5px 0;
}

#groups .search-group {
    background-color: #B8D98C;
    padding: 8px 20px;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
}

#groups .search-group input {
    width: 40%;
    padding: 3px 5px;
    border: none;
    height: 30px;
}

#groups .search-group .create-community {
    font-size: 14px;
    float: right;
    background-color: #2E538A;
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFFFFF;
    cursor: pointer;
}
    
#groups .search-group .create-community a {
    display: block;
    padding: 5px 5px;
    color: #ffffff;
    text-decoration: none;
}


.hidden-create-group {
   display: none;
}

#create-group {
    display: none;
}

.hidden-create-group:checked ~ #create-group {
    display: block;
}

#create-group {
    background-color: #E4F6F0;
    overflow: hidden;
}

#create-group .line {
    overflow: hidden;
    padding: 0 0;
    margin: 2.5% 25%;
}

#create-group .line span {
    margin: 0;
    padding: 0;
    font-size:20px;
    float: left;
}

#create-group .line input[type="text"], textarea{
    float: right;
    background: #f1f1f1;
    padding: 10px 15px 10px 25px;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#create-group .datefield {
    float: right;
    background: #f1f1f1;
    width: 68px;
    margin-left: 9px;
    height: 30px;
    margin-top: 4px;
}

#create-group .line input[type="radio"] {
    float: right;
    margin: 16px 35px 0 10px;
}

#create-group .line .sex {
    float: right;
    font-size: 16px;
    margin-top: 8px;
}

#create-group input[type="submit"] {
    margin: 3% auto;
    background-color: #ffb94b;
    border-radius: 3px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    height: 35px;
    width: 130px;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}



/* ------------- Контейнер с адаптивными блоками------------- */
#groups .masonry-group {
    float: left;
    width: 98%; 
    margin: 1.5em 0;
    padding: 0;
    padding-left: 15px;
    column-gap: 1em; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 1em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}
 
/* Элементы в виде плиток с содержанием */
#groups .item {
    display: inline-block;
    background-color: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
}

#groups .top {
    padding: 2px 5px;
    background-color: #2E878A;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1;
}

#groups .top span{
    font-size: 13px;
}

#groups .prime img {
    display: block;
    width: 100%;
    height: 270px;
}





/*--------------------------------------------------------------------------HOME--------------------------------------------------------------------------------*/



#content-home #autorization-form
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    width: 350px;
    height: 235px;
    padding: 20px;
    border-radius: 3px;  
    position: absolute;
    top: 10%;
    left: 35.5%;
    z-index: 0;
}

#content-home #autorization-form:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

#content-home #autorization-form h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#content-home #autorization-form fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

#content-home #autorization-form #inputs input
{
    background: #f1f1f1;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#content-home #autorization-form #username
{
    background-position: 5px -2px !important;
}

#content-home #autorization-form #password
{
    background-position: 5px -52px !important;
}

#content-home #autorization-form #inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

#content-home #autorization-form #enter, 
#content-home #autorization-form #registration
{
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    height: 35px;
    margin-bottom: 4px;
    padding: 0;
    width: 130px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#content-home #autorization-form #enter
{   
    float: left;
    margin-left: 32px;
}

#content-home #autorization-form #registration
{
    float: right;
    margin-right: 31px; 
}

#content-home #autorization-form #enter:hover,
#content-home #autorization-form #enter:focus,
#content-home #autorization-form #registration:hover,
#content-home #autorization-form #registration:focus
{       
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}   

#content-home #autorization-form #enter:active,
#content-home #autorization-form #registration:active
{       
    outline: none;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}







/*---------------------------------------------------------------------------REGISTRATION----------------------------------------------------------------------*/




#content-registration {
    overflow: hidden;
    padding-top: 40px;
}

#content-registration h1 {
    font-size: 55px;
    font-weight: bold;
    line-height: 1.4;
}

#content-registration .data {
    overflow: hidden;
    width: 100%;
}

#content-registration .line {
    overflow: hidden;
    padding: 0 0;
    margin: 10px 16% 10px 28%;
}

#content-registration .line span {
    margin: 0;
    padding: 0;
    font-size:28px;
    float: left;
}

#content-registration .line p {
    float: right;
    color: red;
    font-size: 16px;
    display: block;
}

#content-registration .line input {
    font-size: 16px;
}

#content-registration .line input[type="text"], 
#content-registration .line input[type="password"], 
#content-registration .line input[type="email"]{
    float: right;
    background: #f1f1f1;
    padding: 6px 10px 6px 25px;
    width: 220px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#content-registration .datefield {
    float: right;
    background: #f1f1f1;
    width: 80px;
    margin-left: 9px;
    height: 35px;
    margin-top: 4px;
}
#content-registration .line .sex {
    float: right;
    font-size: 18px;
    margin-top: 8px;
}
#content-registration .line input[type="radio"] {
    float: right;
    margin: 16px 40px 0 10px;
}

#content-registration input[type="submit"] {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    height: 35px;
    margin:10px auto;
    padding: 0;
    width: 130px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#content-registration input
{
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#content-registration input[type="submit"]:hover {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#content-registration input[type="submit"]:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;  
}

#content-registration input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*Валидация пароля*/

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
}


/*---------------------------------------------------------------------FORGOT_PASSWORD---------------------------------------------------------------------------*/


#content-forgot {
    overflow: hidden;
    margin: 23.6% auto;
}

#content-forgot h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
}

#content-forgot p {
    font-size: 20px;
    line-height: 1.4;
}

#content-forgot .line {
    overflow: hidden;
    padding: 0 0;
    margin: 15px;
}

#content-forgot .line input[type="email"] {
    background: #f1f1f1;
    padding: 10px 15px 10px 30px;
    width: 240px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

#content-forgot input[type="submit"] {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    height: 35px;
    margin:10px auto;
    padding: 0;
    width: 130px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#content-forgot input
{
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px auto;
}

#content-forgot input[type="submit"]:hover {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#content-forgot input[type="submit"]:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;  
}

#content-forgot input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}




/*--------------------------------------------------------------------------------PROFILE------------------------------------------------------------------------*/


#profile{
    overflow: hidden;
}

.place-icon {
    float: left;
    margin: 15px 10px 10px;
    padding: 3px;
    width: 30%;
    min-width: 200px;
    background-color: #949ADB;
    border-radius: 5px;
}

.place-icon .edit {
    background-color: #91A1E2;
    border:1px solid #FFFFFF;
    border-radius: 5px;
}

.place-icon .edit a {
    display:block;
    color: #FFFFFF;
    text-decoration:none;
    padding:10px 15px;
}

.place-info {
    float: left;
    margin: 15px 0 15px 0;
    width: 60%;
    text-align: left;
}

.place-info .block {
    padding: 10px;
    border: 3px solid #91A1E2;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 7px;
    background-color: #fff;
    min-width: 200px;
}

.place-info .block:last-child {
    margin-bottom: 0;
}

.place-info .name {
    font-size: 18px;
    font-weight: bold;
}

.place-info .block .big-line {
    margin-bottom: 5px;
}

.place-info .block .line {
    margin-left: 20px;
}

.place-info .block .line .pre-line {
    float: left;
    min-width: 70px;
}


/*Add post*/
.add-post{
    float: left;
    background-color: #91A1E2;
    padding: 8px 15px;
    margin: 0 5%;
    width: 89.8%;
    border-radius: 5px;
    overflow: hidden;
}

.add-post textarea {
    width: 100%;
    color: black;
    border-radius: 3px;
    margin-bottom: 5px;
}

.add-post button{
    border-radius: 5px;
    width: 80px;
    background-color: #2E538A;
    border: none;
    color: white;
    padding: 3px;
    float: left;
    margin-left: 30px;
}

.add-post .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    color: white;
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.inputfile:focus + label,
.inputfile + label:hover {
    color: red;
}
.inputfile + label {
    cursor: pointer; 
}
/*End Add Post*/


.place-post .post-container {
    float: right;
    margin-left: 4%;
    margin-top: 3%;
    width: 90%;
    max-height: 30%;
    overflow: hidden;
    float: left;
    text-align: left;
}

.place-post .post-container .sender-face {
    display: block;
    width: 13%;
    height: auto;
    margin-left: 0;
    float: left;
}

.place-post .post-container .post-info {
    margin-left: 15%;
}

.place-post .post-container .post-info .sender-name {
    font-size: 16px;
    font-weight: bolder;
}

.place-post .post-container .post-info .post-text {

}

.place-post .post-container .post-info .post-media img {
    width: 100%;
    height: auto;
}

.place-post .post-container .post-info .replies {
    float: right;
}




/*--------------------------------------------------------------------------------EDIT_PROFILE------------------------------------------------------------------------------------------*/


#edit-profile .line {
    overflow: hidden;
    padding: 0 0;
    margin: 2.5% 17%;
}

#edit-profile .line:first-child {
    margin-top: 6%;
}

#edit-profile .line span {
    margin: 0;
    padding: 0;
    font-size:22px;
    float: left;
}

#edit-profile .line input[type="text"], .line input[type="password"], .line input[type="email"]{
    float: right;
    background: #f1f1f1;
    padding: 10px 15px 10px 25px;
    width: 180px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#edit-profile .datefield {
    float: right;
    background: #f1f1f1;
    width: 68px;
    margin-left: 9px;
    height: 30px;
    margin-top: 4px;
}

#edit-profile .line input[type="radio"] {
    float: right;
    margin: 16px 35px 0 10px;
}

#edit-profile .line .sex {
    float: right;
    font-size: 18px;
    margin-top: 8px;
}

#edit-profile input[type="submit"] {
    background-color: #ffb94b;
    border-radius: 3px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    height: 35px;
    width: 130px;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    margin: 2% auto 5% auto;
}
/*-----------------------------------------------------------------------------------------FILE UPLOAD------------------------------------------------------------------------------------------*/
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:450px;
    height:250px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

/*
.dialogdemoBasicUsage #popupContainer {
    position: relative; }
.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }
.dialogdemoBasicUsage button {
    width: 200px; }
.dialogdemoBasicUsage div#status {
    color: #c60008; }
.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0; }
*/



/*-----------------------------------------------------------------------------------------AUDIO------------------------------------------------------------------------------------------*/


#audio .player {
    overflow: hidden;
}

#audio .player audio {
    width: 100%;
    margin-top: 10px;
}

#audio-list .item {
    overflow: hidden;
    width: 100%;
    padding: 7px 15px;
    background-color: #E4F1F6;
    border-bottom: 1px solid #2F5B8E;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

#audio-list .item .play-audio {
    float: left;
    margin-left: 5%;
    width: 15px;
    height: 15px;
}

#audio-list .item .play-audio img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#audio-list .item .name {
    float: left;
    margin-left: 5%;
    font-size: 16px;
}

#audio-list .item .audiotime {
    float: right;
    margin-right: 5%;
    font-size: 16px;
}




/*----------------------------------------------------------------------------------------VIDEO-----------------------------------------------------------------------------------------*/


#video {
    overflow: hidden;
    padding-top: 15px;
}

#video .videoPlayer {
    width: 80%;
}

#video video {
    width: 85%;
}

#video .masonry-group {
    float: left;
    width: 95%; 
    margin: 1.5em 0;
    padding: 0;
    padding-left: 15px;
    column-gap: 1em; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 1em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}
 
/* Элементы в виде плиток с содержанием */
#video .item {
    display: inline-block;
    background-color: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
}

#video .prime img {
    display: block;
    width: 100%;
    height: 160px;
}

#video .bottom {
    padding: 1px 5px 4px 5px;
    background-color: #2E878A;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1;
}

#video .bottom span{
    font-size: 13px;
}


/*------------------------------------------------------------------------------FACE-GROUP----------------------------------------------------------------------------------------------*/



#face-group .place-icon {
    float: left;
    margin: 10px 5px 10px 10px;
    padding: 5px;
    width: 33%;
    background-color: #949ADB;
}

#face-group .place-icon .edit {
    background-color: #91A1E2;
    border:1px solid #FFFFFF;
}


#face-group .place-icon .edit a {
    display:block;
    color: #FFFFFF;
    text-decoration:none;
    padding:10px 15px;
}

#face-group .place-info {
    float: right;
    margin: 10px 10px 10px 5px;
    padding: 5px;
    width: 58%;
    text-align: left;
    background-color: #949ADB;
}

#face-group .place-info .block {
    padding: 10px;
    border:1px solid #FFFFFF;
    overflow: hidden;
    color:#D5E0F1;
    margin-bottom: 7px;
    background-color: #91A1E2;
}

#face-group .place-info .block:last-child {
    margin-bottom: 0;
}

#face-group .place-info .name {
    font-size: 18px;
    font-weight: bold;
}

#face-group .place-info .block .big-line {
    margin-bottom: 5px;
    color: #BCB6E7;
}

#face-group .place-info .block .line {
    padding: 3px;
}

#face-group .place-info .block .pre-line {
    margin-left: 10%;
    width: 15%;
    float: left;
}

#face-group .place-info .block .pre-line:last-child {
    width: 87%;
}

#face-group .place-info .block .post-line {
    margin-left: 10%;
    width: 60%;
    float: left;
}

#face-group .place-post .post-container {
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    max-width: 95%;
    max-height: 30%;
    overflow: hidden;
    text-align: left;
}

#face-group .place-post .post-container .sender-face {
    display: block;
    width: 13%;
    height: auto;
    margin-left: 0;
    float: left;
}

#face-group .place-post .post-container .post-info {
    margin-left: 15%;
}

#face-group .place-post .post-container .post-info .sender-name {
    font-size: 16px;
    font-weight: bolder;
}

#face-group .place-post .post-container .post-info .post-text {

}

#face-group .place-post .post-container .post-info .post-media img {
    width: 100%;
    height: auto;
}

#face-group .place-post .post-container .post-info .replies {
    float: right;
}




/*--------------------------------------------------------------------------------------SETTINGS-------------------------------------------------------------------------------------- */


#settings {
    width: 100%; 
    background-color: #7DD493;
    overflow: hidden;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

#settings .tab {
    float: left;
    display: inline-block;
    font-size: 16px;
}

#settings .tab a {
    padding: 6px 15px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

#black-list .ban-panel {
    padding: 6px 15px;
    width: 100%; 
    background-color: #B8D98C;
    overflow: hidden;
    font-size: 16px;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

#black-list .ban-panel input[type="text"] {
    float: left;
    width: 40%;
    padding: 4px 5px;
    border:none;
    min-width: 130px;
}

#black-list .ban-panel input[type="submit"] {
    float: right;
    background-color: #2E538A;
    color: #FFFFFF;
    border: none;
    padding: 3px 4px;
    border-radius: 5px;
}

#black-list .ban-panel input[type="submit"]:hover {
    background-color: #91A1E2;
    border-radius: 5px;
}

#black-list .ban-list .user {
    overflow: hidden;
    width: 100%;
    padding: 7px 15px;
    background-color: #E4F1F6;
    border-bottom: 1px solid #2F5B8E;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

#black-list .ban-list .user .user-info {
     float: left;
}

#black-list .ban-list .user .user-info .avatar{
    float: left;
    width: 30px;
    height: 30px;
}

#black-list .ban-list .user .user-info .avatar img {
    width: 100%;
    height: 100%;
}

#black-list .ban-list .user .user-info .name {
    float: left;
    margin-left: 10px;
    font-size: 16px;
}

#black-list .ban-list .user input {
    float: right;
    border-radius: 5px;
    background-color: #8CBFD9;
    border: none;
    color: #fff;
    padding: 3px 4px;
}

#black-list .ban-list .user input[type="submit"]:hover {
    background-color: #91A1E2;
    border-radius: 5px;
}

#change_pass {
    text-align: left;
    font-size:22px;
    width: 65%;
    margin: 10px 5% 0 15%;
    overflow: hidden;
}

#change_pass .line {
    overflow: hidden;
    margin: 20px 0;
}

#change_pass .line span {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden;
}

#change_pass input[type="text"] {
    display: block;
    float: right;
    font-size: 17px;
    background: #f1f1f1;
    padding: 5px 15px 5px 15px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

#change_pass input[type="submit"] {
    display: block;
    background-color: #ffb94b;
    border-radius: 3px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    height: 35px;
    width: 130px;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    margin: 30px auto;
}



/*--------------------------------------------------------------------------------FRIENDS------------------------------------------------------------------------*/


#friends .quantity {
    background-color: #7DD493;
    padding: 8px 20px;
    text-align: left;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 0 5px 0 0;
}

#friends .search-friend {
    background-color: #B8D98C;
    padding: 8px 20px;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    display: none;  
}

#friends .search-friend input {
    width: 40%;
    padding: 3px 5px;
    border: none;
    height: 30px;
}

/* ------------- Контейнер с адаптивными блоками------------- */
#friends .masonry-place {
    overflow: hidden;
    float: left;
    width: 76%; 
    margin: 1.5em 0;
    padding: 0 2%;
    column-gap: 1em; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 1em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}
 
/* Элементы в виде плиток с содержанием */
#friends .item {
    display: inline-block;
    background-color: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
}

#friends .top {
    padding: 2px 5px;
    background-color: #2E878A;
    font-size: 100%;
    color: #FFFFFF;
    line-height: 1;
    white-space: nowrap;
}

#friends .prime img {
    display: block;
    width: 100%;
    height: 200px;
}


#friends .user-api {
    height: 30px;
    border-bottom: 1px solid #91A1E2;
}

#friends .user-api li {
    display: inline-block;
    width: 31%;
}

#friends .user-api li a {
    display:block;
    padding:2.5px 5px;
}

#friends .user-api li a img {
    display: block;
    margin: 0 auto !important;
    width: 25px;
    height: 25px;
    
}

#friends .search-panel {
    position: absolute;
    right: 0;   
    background: #E4F6F0;
    width: 24%;
    height: 100%;
    color: #91A1E2;
    border-left: 1px solid #91A1E2;
}    

#friends .search-panel .line {
    margin: 25px 10px 10px 10px;
    text-align: left;
    font-size: 16px;
}

#friends .search-panel .line-search input {
    font-size: 15px;
    width: 100%;
    padding: 2px 10px;
    border: 1px solid grey;
}

#friends .search-panel .line-sex input {
    margin-right: 10px;
    vertical-align: middle;
}

#friends .search-panel .line .shift {
    margin-top:5px;
    margin-left: 10px;
}

#friends .search-panel .line select {
    width: 100%;
    color: #91A1E2;
}

#friends .search-panel .line .age {
    width: 53px;
}





.masonry-place {
    -moz-column-count: 3;   
    -webkit-column-count: 3;
    column-count: 3;
}

.masonry-group {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

@media (max-width: 768px) {
    #header #search {
        position: relative;
        padding-top: 0;
        margin: 8px 0px 8px 3%;
        min-width: 180px;
    }

    #header #search input {
        height: 25px;
    }

    #header #search input[type="text"] {
        width: 100%
    }

    #header #search input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        text-indent: 999px;
        overflow: hidden;
        background: #f1f1f1 url(../image/ssearch.png) no-repeat center;
        background-size: contain;
    }

    .vert-menu{
        display: none;
    }

    .vert-menu-unvis{
        display: block;
    }

    .content-place {
        margin-left: 0;
        border:none;
    }

    .place-icon {
        width: 30%;
        min-width: 165px;
    }

    #groups .quantity {
        border-radius: 5px 5px 5px 5px;
    }

    #groups .search-group {
        border-radius: 5px 5px 5px 5px;
    }

    #friends .quantity {
        border-radius: 5px 5px 5px 5px;
    }

    #friends .search-friend {
        border-radius: 5px 5px 5px 5px;
    }

    #groups .item .prime img {
        height: 240px;
    }

    #groups .item .top {
        font-size: 18px;
    }

    #groups .item .top span{
        font-size: 12px;
    }
    
    #friends .masonry-place {
        width: 100%;
    }

    #friends .search-panel {
        display: none;
    }

    .masonry-group {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    #groups .search-group .create-community {
        display: none;
    }

    #groups #create-group {
        display: none;
    }

    #groups .search-group input {
        width: 50%;
    }

    #friends .search-friend {
        display: block;
        padding: 7px 20px;
        font-size: 15px;
    }

    #friends .search-friend input {
        width: 50%;
    }

    #change_pass {
        font-size:20px;
        width: 75%;
    }

}

@media (max-width: 480px) {

    #header .logo {
        display: none;
    }

    #header .top-menu {
        display: none;
    }

    #header #search {
        float: right;
        margin-right: 5%; 
        width: 50%;
    }

    .vert-menu-mobile .hidden {
        display: block;
    }

    .place-info {
        float: left;
        width: 90%;
        margin-left: 5%;
    }

    .place-icon {
        width: 70%;
        margin-left: 15%;
    }

    #friends .item .prime img{
        height: 160px;
    }

    #groups .quantity {
        font-size: 16px;
        padding: 8px 10px;
    }

    #groups .search-group {
        padding: 8px 10px;
    }

    #groups .item .prime img {
        height: 160px;
    }

    #groups .item .top {
        font-size: 16px;
    }

    #groups .item .top span{
        font-size: 11px;
    }

    .masonry-place {
        -moz-column-count: 2;   
        -webkit-column-count: 2;
        column-count: 2;
    }

    .masonry-group {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    #groups .search-group input {
        width: 65%;
    }

     #friends .search-friend {
        display: block;
        padding: 6px 18px;
        font-size: 14px;
    }

    #friends .search-friend input {
        width: 65%;
    }

    #change_pass {
        font-size: 18px;
        width: 65%;
        margin: 10px auto 10px auto;
    }

    #change_pass .line {
        margin: 0;
    }

    #change_pass .line span {
        margin: 15px 0 5px 0;
    }

    #change_pass input[type="text"] {
        float: left;
        width: 100%;
        overflow: hidden;
    }
}


@media only screen and (min-width: 1280px) {
    #wrapper {
        width: 1260px;
    }
}