@import url(reset.css);

body {
    
    font: 14px/1.5 Arial, Verdana, sans-serif;
    color: #353535;
    text-align: center;
}

#wrapper {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    height: 636px;                    /*need change*/
    background: #FDD223;   
}

a:hover {
    background: #eeeeee;
}

.top-menu {
    border: 1px solid #e5e5e5;
    background: green;
}

.top-menu li {
    display: inline-block;
    margin-right: -4px;
    width: 11%;
}

.top-menu li:nth-child(1) {
    width:22%;
}

.top-menu li:nth-child(2) {
    width:34%;
}

.top-menu li a {
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    padding:10px 15px;
    margin-right:-5px;
}

.vert-menu {
    float: left;
    width: 180px;
    height: 636px;
    background: yellow;
}

.vert-menu li {
    background-color: brown;
}

.vert-menu li a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #0088cc;
    border: 1px solid #e5e5e5;
}

.place-icon {
    margin: 10px;
    float: left;
    width: 25%;
    background: orange;
}

.place-icon .icon {
    margin:10px;
    padding: 100px 0;
    border:1px solid black;
}

.place-icon .edit {
    margin:10px;
    border:1px solid black;
}

.place-icon .edit a {
    display:block;
    color: blue;
    text-decoration:none;
    padding:10px 15px;
}

.place-info {
    margin: 10px;
    float: left;
    width: 45%;
    background: orange;
    text-align: left;
}

.place-info .name {
    margin:10px;
    border:1px solid black;
    padding: 10px;
    color:black;
    font-size: 18px;
    font-weight: bold;
}

.place-info .block {
    margin:10px;
    border:1px solid black;
    padding: 10px;
    overflow: hidden;
}

.place-info .block .big-line {
    border:1px solid black;
    padding: 10px;
    margin-bottom: 5px;
}

.place-info .block .pre-wrap {
    margin:0px 5px 0px 20px;
    width: 15%;
    border:1px solid black;
    padding: 10px;
    float: left;
    color: grey;
}

.place-info .block .pre-wrap:last-child {
    width: 87%;
    color:#332D13;
}

.place-info .block .wrap {
    margin:0px 5px 0px 5px;
    width: 60%;
    border:1px solid black;
    padding: 10px;
    float: right;
    color:#332D13;
}