<div id="audio" data-ng-controller="MyAudioController">
    <div class="player md-whiteframe-4dp">
        <span data-ng-show="source">Song name : {{currentSong}}</span>
        <audio data-ng-src="{{source}}" controls data-ng-ended="onPlayEnd()" autoplay preload="auto"></audio>
    </div>

    <div id="audio-list" ng-repeat="audio in playList">
        <div class="track md-whiteframe-1dp" ng-click="setPlayingTrack($index)">
            <div class="play-audio">
                <!--<img src="{{playIconUrl}}" alt="play">-->
            </div>
            <span class="name">{{audio.name}}</span>
            <!--<span class="audiotime">{{audio.Time}}</span>-->
        </div>
    </div>
</div>
