<div id="audio" data-ng-controller="AudioController">
    <div class="player">
        <span>Song name : {{currentSong}}</span>
        <audio data-ng-src="{{source}}" controls data-ng-ended="onPlayEnd()" autoplay preload="auto"></audio>
    </div>
    <ul>
        <li ng-repeat="audio in playList" data-ng-click="setPlayingTrack($index)">
            <!--<img src="{{playIconUrl}}" alt="play" width="3%">-->
            <span>{{audio.Name}}</span>
            <span id="audiotime">{{audio.Time}}</span>
        </li>
        <hr>
    </ul>
</div>