<div id="audio" data-ng-controller="AudioController">
    <div class="player">
        <span>Song name : {{currentSong}}</span>
        <audio data-ng-src="{{source}}" controls data-ng-ended="onPlayEnd()" autoplay preload="auto"></audio>
    </div>

    <div id="audio-list">
        <div class="track"  ng-repeat="audio in playList">
            <div class="play-audio">
                <img src="{{playIconUrl}}" alt="play" ng-click="setPlayingTrack($index)">
            </div>
            <span class="name">{{audio.Name}}</span>
            <span class="audiotime">{{audio.Time}}</span>
        </div>
    </div>
</div>
