<div id="wrapper">
    <div id="content-home" data-ng-controller="AuthController">
        <form class="autorization-form" >
            <h1>Login</h1>
            <div id="inputs">
                <input id="username" type="text" data-ng-model="login" placeholder="Login" autofocus required>
                <input id="password" type="password" data-ng-model="password" placeholder="Password" required>
            </div>
            <input class="login" type="submit" id="enter" value="Login" data-ng-click="sendData0()">

            <label for="popupCheckboxTwo" class="popup-shower"><div class="registration">Registration</div></label>
            <label for="popupCheckboxOne" class="popup-shower"><div class="forgot">Forgot Password?</div></label>
        </form>

        <div class="forgot-pass popup-wrapper" data-ng-controller="ForgotPassController">
            <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne">
            <div class="popup">
                <div class="popup-content-forgot">
                    <label for="popupCheckboxOne" class="popup-closer">&#215;</label>

                    <h1>Change Password</h1>
                    <div class="line">
                        <p>Please input your email for password recovery</p>
                    </div>
                    <div class="line">
                        <input type="email" name="email" data-ng-model="email">
                    </div>
                    <input type="submit" name="signup" value="Send" data-ng-click="sendReq()">
                </div>
            </div>
        </div>



        <div class="registration popup-wrapper">
            <input type="checkbox" class="popup-checkbox" id="popupCheckboxTwo">
            <div class="popup">
                <div class="popup-content-registration">
                    <label for="popupCheckboxTwo" class="popup-closer">&#215;</label>

                    <div id="content-registration">
                    <h1>Sign Up</h1>
                    <form name="registrationForm" ng-controller="RegController">
                        <div class="data">
                            <div class="line line-name">
                                <p data-ng-show="!isName">Wrong data, please check.</p>
                                <label>
                                    <span>First Name</span> <!-- ng-pattern="/^[A-Za-z]*$/" -->
                                    <input type="text" name="name" required ng-model="firstName" maxlength="20"
                                           data-ng-keyup="validateField($event)"/>
                                </label>
                            </div>
                            <div class="line line-lastname">
                                <label>
                                    <span>Last Name</span>
                                    <input type="text" name="lastname" required ng-model="lastName" maxlength="20"
                                           ng-pattern="/^[A-Za-z]*$/"/>

                                    <p ng-show="registrationForm.lastname.$error.required && registrationForm.lastname.$pristine != true">
                                        You don't input field!</p>
                                    <p ng-show="registrationForm.lastname.$error.pattern && registrationForm.lastname.$pristine != true">
                                        May contain only latin symbols</p>
                                </label>
                            </div>

                            <div class="line line-login">
                                <label>
                                    <span>Login</span>
                                    <input type="text" name="login" required ng-model="login" maxlength="20"
                                           ng-pattern="/^[A-Za-z][A-Za-z0-9]*$/"/>

                                    <p ng-show="registrationForm.login.$error.required && registrationForm.login.$pristine != true">
                                        You don't input field!</p>
                                    <p ng-show="registrationForm.login.$error.pattern && registrationForm.login.$pristine != true">
                                        May contain only latin symbols and numbers</p>
                                </label>
                            </div>

                            <div class="line line-password">
                                <label>
                                    <span>Password</span>
                                    <input type="password" name="password" required ng-model="password" maxlength="20"
                                           ng-pattern="/^[A-Za-z0-9]*$/"/>

                                    <p ng-show="registrationForm.password.$error.required && registrationForm.password.$pristine != true">
                                        You don't input field!</p>
                                    <p ng-show="registrationForm.password.$error.pattern && registrationForm.password.$pristine != true">
                                        May contain only latin symbols and numbers</p>
                                </label>
                            </div>

                            <div class="line line-confirmpassword">
                                <label>
                                    <span>Confirm Pass</span>
                                    <input type="password" name="confirmPassword" required ng-model="confirmPass" maxlength="20"
                                           ng-pattern="/^[A-Za-z0-9]*$/"/>

                                    <p ng-show="registrationForm.confirmPassword.$error.required && registrationForm.confirmPassword.$pristine != true">
                                        You don't input field!</p>
                                    <p ng-show="registrationForm.confirmPassword.$error.pattern && registrationForm.confirmPassword.$pristine != true">
                                        May contain only latin symbols and numbers</p>
                                </label>
                            </div>

                            <div class="line line-email">
                                <label>
                                    <span>Email</span>
                                    <input type="email" name="email" required ng-model="email" maxlength="20"
                                           ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"/>

                                    <p ng-show="registrationForm.email.$error.required && registrationForm.email.$pristine != true">
                                        You don't input field! Realy!</p>
                                    <p ng-show="registrationForm.email.$error.pattern && registrationForm.email.$pristine != true">
                                        You have incorrect input! Realy!</p>
                                </label>
                            </div>

                            <div class="line line-sex">
                                <label>
                                    <span>Sex</span>
                                    <label>
                                        <input type="radio" name="sex" value="1" ng-model="sex">
                                        <span class="sex">Man</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="sex" value="0" ng-model="sex" checked>
                                        <span class="sex">Woman</span>
                                    </label>
                                </label>
                            </div>
                            <!--TODO change calendat to Three fields-->
                            <div class="line line-birthday">
                                <span>Birthday</span>
                                <div>
                                    <input time="false" date="true" mdc-datetime-picker="" type="text" ng-model="dirthDay"
                                           min-date="minDate" max-date="maxDate" class="md-input" format="DD/MM/YYYY"/>
                                </div>
                            </div>
                            <input type="submit" name="signup" value="Send" ng-click="update()">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>