<md-dialog aria-label="Avatar" ng-cloak>
    <form>
        <md-content data-ng-controller="FileUploadController">
            <form name="myForm">
                <input class="ng-hide" id="input-file-id" type="file" accept="image/*" />
                <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
                <br>
                <div data-ng-show="pickFile">
                    <img ng-src="pickFile"/>
                </div>
                <md-progress-circular data-ng-show="isLoading" md-mode="indeterminate"></md-progress-circular>
                <md-button data-ng-click="upload(picFile.name)">Submit</md-button>

                <span ng-show="result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </form>
        </md-content>
        <!--<md-dialog-actions layout="row">-->
            <!--<span flex></span>-->
            <!--<md-button ng-click="answer('not confirmed')">-->
                <!--Cancel-->
            <!--</md-button>-->
            <!--<md-button ng-click="answer('confirmed')">-->
                <!--Confirm-->
            <!--</md-button>-->
        <!--</md-dialog-actions>-->
    </form>
</md-dialog>