<div id="black-list">
    <div class="ban-panel">
        <input type="text" placeholder="id to ban"/>
        <input type="submit" value="add to ban list"/>
    </div>
    <div class="ban-list">
        <div class="user">
            <div class="user-info">
                <div class="avatar">
                    <img src="#">
                </div>
                <span class="name">Banana Curdibrina</span>
            </div>
            <input type="submit" value="unban"/>
        </div>
        <div class="user">
            <div class="user-info">
                <div class="avatar">
                    <img src="#">
                </div>
                <span class="name">Banana Curdibrina</span>
            </div>
            <input type="submit" value="unban"/>
        </div>
        <div class="user">
            <div class="user-info">
                <div class="avatar">
                    <img src="#">
                </div>
                <span class="name">Banana Curdibrina</span>
            </div>
            <input type="submit" value="unban"/>
        </div>
        <div class="user">
            <div class="user-info">
                <div class="avatar">
                    <img src="#">
                </div>
                <span class="name">Banana Curdibrina</span>
            </div>
            <input type="submit" value="unban"/>
        </div>
    </div>
</div>