<div id="black-list" ng-controller="BlackListController">
    <div class="ban-panel">
        <input type="text" placeholder="id to ban" data-ng-model="bUserId"/>
        <input type="submit" value="add to ban list" data-ng-click="addTBL()"/>
    </div>
    <div class="ban-list">
        <div class="user"  ng-repeat="user in users">
            <div class="user-info">
                <div class="avatar">
                    <img src="{{user.avatar}}">
                </div>
                <span class="name">{{user.name + " " + user.lastName}}</span>
            </div>
            <input type="submit" value="unban" data-ng-click="deleteFBL($index)"/>
        </div>
    </div>
</div>