<div id="black-list" ng-controller="BlackListController">
    <div class="ban-panel">
        <input type="text" placeholder="id to ban"/>
        <input type="submit" value="add to ban list"/>
    </div>
    <div class="ban-list">
        <div class="user"  ng-repeat="user in users">
            <div class="user-info">
                <div class="avatar">
                    <img src="{{user.img}}">
                </div>
                <span class="name">{{user.Fname + " " + user.Lname}}</span>
            </div>
            <input type="submit" value="unban"/>
        </div>
    </div>
</div>