<div class="place-create-group">
    <div class="line line-name">
        <span>Name</span>
        <input type="text" name="name">
    </div>

    <div class="line line-description">
        <span>Description</span>
        <textarea rows="3"></textarea>
    </div>

    <div class="line line-access">
        <span>Access</span>
        <label>
            <input type="radio" name="access" value="public">
            <span class="sex">public</span>
        </label>
        <label>
            <input type="radio" name="access" value="private">
            <span class="sex">private</span>
        </label>
    </div>

    <div class="line line-web-site">
        <span>Web-site</span>
        <input type="text" name="web-site">
    </div>

    <input type="submit" name="edit" value="Create">
</div>