<div id="edit-profile" data-ng-controller="ProfileEditController">
    <form name="editProfileForm" data-ng-submit="sendData()">
        <div class="line">
            <span>Avatar</span>
            <div data-ng-controller="FileUploadController" class="dialog-demo-content" layout="row" layout-wrap
                 layout-margin layout-align="center">
                <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                    Choose avatar
                </md-button>
            </div>
        </div>

        <div class="line line-name">
            <span>Name</span>
            <input type="text" name="name" ng-model="name" maxlength="20" ng-pattern="/^[A-Za-z]*$/">

            <p ng-show="editProfileForm.name.$error.pattern && editProfileForm.name.$pristine != true">May contain only
                latin symbols</p>
        </div>

        <div class="line line-lastname">
            <span>Last Name</span>
            <input type="text" name="lastname" ng-model="lastName" maxlength="20" ng-pattern="/^[A-Za-z]*$/">

            <p ng-show="editProfileForm.lastname.$error.pattern && editProfileForm.lastname.$pristine != true">May
                contain only latin symbols</p>
        </div>

        <div class="line line-sex">
            <span>Sex</span>
            <label>
                <input type="radio" name="sex" value="1" ng-model="sex">
                <span class="sex">Man</span>
            </label>
            <label>
                <input type="radio" name="sex" value="0" ng-model="sex">
                <span class="sex">Woman</span>
            </label>
        </div>

        <div class="line line-birthday">
            <span>Birthday</span>
            <input data-time="false" data-date="true" mdc-datetime-picker="" type="text"
                   placeholder="Birth Date"
                   data-ng-model="birthdate" data-min-date="minDate" data-max-date="maxDate"
                   class="md-input" data-format="DD/MM/YYYY"
                   data-ok-text="Confirm">
        </div>

        <div class="line line-city">
            <span>City</span>
            <input type="text" name="city" ng-model="city" maxlength="20" ng-pattern="/^[A-Za-z]*$/">

            <p ng-show="editProfileForm.city.$error.pattern && registrationForm.city.$pristine != true">May contain only
                latin symbols</p>
        </div>

        <div class="line line-mobile-number">
            <span>Mobile number</span>
            <input type="text" name="mobile-number" ng-model="mobile" maxlength="20" ng-pattern="/^[1-9][0-9]*$/">

            <p ng-show="editProfileForm.mobile-number.$error.pattern && registrationForm.mobile-number.$pristine != true">
                May contain only numbers</p>
        </div>

        <div class="line line-skype">
            <span>Skype</span>
            <input type="text" name="skype" ng-model="skype" maxlength="20" ng-pattern="/^[A-Za-z][A-Za-z0-9]*$/">

            <p ng-show="editProfileForm.mobile-number.$error.pattern && registrationForm.mobile-number.$pristine != true">
                May contain only numbers</p>
        </div>

        <div class="line line-email">
            <span>Email</span>
            <input type="email" name="email" ng-model="email">

            <p ng-show="editProfileForm.mobile-number.$error.pattern && registrationForm.mobile-number.$pristine != true">
                May contain only numbers</p>
        </div>

        <div class="line line-about">
            <span>About me</span>
            <input type="text" name="about" ng-model="about">
        </div>

        <md-input-container>
            <input type="submit" value="Edit">
        </md-input-container>
    </form>
</div>