<div id="face-group" data-ng-controller="FaceGroupController">
    <div class="place-icon">
        <div class="icon">
            <img src="{{groupImg}}" width="100%" height="auto">
        </div>

        <div class="edit">
            <span><a href="">Join the Group</a></span>
        </div>
    </div>

    <div class="place-info">
        <div class="block name">{{groupName}}</div>

        <div class="block">
            <div class="big-line">About Group</div>
            <div class="line pre-line">{{groupAbout}}</div>
        </div>
    </div>

    <div class="place-post" ng-controller="MyPostController">
        <div ng-repeat="post in posts" class="post-container">
            <img class="sender-face" src="{{post.owner.avatar}}"/>
            <div class="post-info">
                <div class="sender-name">
                    <h3>{{post.owner.name + post.owner.lastName}}</h3>
                </div>

                <div class="post-text">
                    <p>{{post.text}}</p>
                </div>

                <div class="post-media">
                    <img src="{{post.image}}">
                </div>

                <div class="replies">
                    <img src="{{likeImg}}" alt="like" width="25px" ng-click='increaseLike($index)'/>
                    <span>{{post.like}}</span>
                    <img src="{{dislikeImg}}" alt="dislike" width="25px" ng-click='increaseDisLike($index)'/>
                    <span>{{post.dislike}}</span>
                </div>
            </div>
        </div>
    </div>
</div>