<div class="group-place">
    <div class="place-icon">
        <div class="icon">
            <img src="{{userAvatar}}" width="100%" height="auto">
        </div>

        <div class="edit">
            <span><a href="">Join the Group</a></span>
        </div>
    </div>

    <div class="place-info">
        <div class="block name">{{userName + userSubname}}</div>

        <div class="block">
            <div class="big-line">About Group</div>
            <div class="line pre-line">{{userAbout}}</div>
        </div>
    </div>

    <div class="place-post" ng-controller="PostController">
        <div ng-repeat="post in posts" class="post-container">
            <img class="sender-face" src="{{post.postOnwerImage}}"/>
            <div class="post-info">
                <div class="sender-name">
                    <h3>{{post.postOwner}}</h3>
                </div>

                <div class="post-text">
                    <p>{{post.postText}}</p>
                </div>

                <div class="post-media">
                    <img src="{{post.postImage}}">
                </div>

                <div class="replies">
                    <img src="{{post.likeImg}}" alt="like" width="25px"/>
                    <span>{{post.likes}}</span>
                    <img src="{{post.dislikeImg}}" alt="dislike" width="25px"/>
                    <span>{{post.dislikes}}</span>
                </div>
            </div>
        </div>
    </div>
</div>