<div id="face-group" data-ng-controller="FaceGroupController">
    <div class="place-icon">
        <img src="{{groupImg}}">
        <div class="join" data-ng-show="isOwner" data-ng-click="deleteCommun()">
            <span>Delete the Group</span>
        </div>
        <div data-ng-show="!isOwner">
            <div class="join" data-ng-show="!isMember" data-ng-click="join()">
                <span>Join the Group</span>
            </div>
            <div class="join" data-ng-show="isMember" data-ng-click="leave()">
                <span>Leave the Group</span>
            </div>
        </div>
    </div>

    <div class="place-info">
        <div class="block name">{{groupName}}</div>

        <div class="block">
            <div class="big-line">About Group</div>
            <div class="line pre-line">{{groupAbout}}</div>
        </div>
    </div>

    <div class="add-post">
        <textarea data-ng-model="postText" placeholder="Add post"></textarea>
        <button data-ng-click="PostIt()">Send</button>
        <input type="file" name="file" id="file" class="inputfile">
        <label data-ng-controller="FileUploadController" data-ng-click="showAdvanced($event)">Choose a file</label>
    </div>

    <div class="place-post" data-ng-controller="PostGroupController">
        <posts-addition data-ng-repeat="poster in posts" class="post-container"></posts-addition>
    </div>
</div>