<md-dialog ng-cloak data-ng-controller="FileUploadController">
    <md-content>
        <input class="ng-hide" type="file" id="input-file-id" ng-model="picFile"
               ngf-accept="acceptFiles" ngf-select="" ngf-validate="{size: {max: '1MB', min: '10B'}">

        <br>
        <img id="uploadImg" ngf-src="picFile" data-ng-show="picFile">
        <!--<img id="uploadImg" ng-show="picFile" ngf-src="picFile"/>-->
        <br>
        <div layout="row" layout-align="center">
            <md-progress-circular data-ng-show="isLoading" md-mode='indeterminate'></md-progress-circular>
        </div>
        <p>
            <span ng-show="result">Upload Successful</span>
        </p>
    </md-content>
    <md-dialog-actions layout="row">
        <label for="input-file-id" class="md-button md-raised md-warn">Choose File</label>
        <md-button data-ng-click="upload(picFile.name)">
            UPLOAD
        </md-button>
    </md-dialog-actions>
</md-dialog>


<!--<input class="ng-hide" type="file" id="input-file-id" ng-model="picFile"-->
<!--ngf-accept="'image/*'">-->
<!--<label for="input-file-id" class="md-button md-raised md-warn">Choose File</label>-->
<!--<br>-->
<!--<img id="uploadImg" class="md-raised" ng-show="picFile" ngf-src="picFile">-->
<!--<br>-->
<!--<md-progress-circular data-ng-show="isLoading" md-mode='indeterminate'></md-progress-circular>-->
<!--<span ng-show="result">Upload Successful</span>-->