<md-container style="padding: 2%;" data-ng-controller="ForgotPassController">
    <h1 style="font-size: 35px;">Change Password</h1>
    <p style="font-size: 20px;">Please input your email for password recovery</p>
    <div style="font-size: 15px; margin-top: 5%;">
        <md-input class="md-whiteframe-2dp">
            <input type="email" data-ng-model="email">
        </md-input>
    </div>
    <md-button class="md-raised md-warn" data-ng-click="sendReq()">
        Send
    </md-button>
</md-container>