<div id="groups" ng-controller="GroupController">
    <div class="quantity">
        <p>You are a member of 4 communities</p>
    </div>

    <div class="search-group">
        <input type="text" name="search-group" placeholder="search" ng-model="searchGroups">

        <label class="btn-groups" for="hmd">
            <div class="create-community">create community</div>
        </label>
    </div>

    <input type="checkbox" id="hmd" class="hidden-create-group">

    <div id="create-group">
        <div class="line line-name">
            <span>Name</span>
            <input type="text" name="name">
        </div>

        <div class="line line-description">
            <span>Description</span>
            <textarea rows="3"></textarea>
        </div>

        <div class="line line-avatar">
            <span>Avatar</span>
            <input type="text" name="avatar">
        </div>

        <input type="submit" name="edit" value="Create">
    </div>

    <div class="masonry-group">
        <!-- Адаптивные блоки с содержанием -->

        <div class="item" ng-repeat="group in groups | filter: searchGroups">
            <div class="top">
                <h2>{{group.name}}</h2>
                <span>{{group.folowers}} folowers</span>
            </div>
            <div class="prime">
                <a ui-sref="menu.group"><img src="{{group.imageUrl}}"></a>
            </div>
        </div>
    </div>
    <!-- Конец контейнера с адаптивными блоками -->
</div>