<div class="group-place" ng-controller="GroupController">
    <div class="quantity">
        <p>You are a member of 4 communities</p>
    </div>

    <div class="search-group">
        <input type="text" name="search-group" placeholder="search" ng-model="searchGroups">
        <div class="create-community"><a href="">create community</a></div>
    </div>

    <div class="masonry-group">
        <!-- Адаптивные блоки с содержанием -->

        <div class="item" ng-repeat="group in groups | filter: searchGroups">
            <div class="top">
                <h2>{{group.name}}</h2>
                <span>{{group.folowers}} folowers</span>
            </div>
            <div class="prime">
                <img src="{{group.imageUrl}}">
            </div>
        </div>
    </div>
    <!-- Конец контейнера с адаптивными блоками -->
</div>