<div id="wrapper">
    <div id="content-home">
        <form id="autorization-form">
            <h1>Welome to SoN!</h1>
            <fieldset id="inputs">
                <input id="username" type="text" placeholder="Логин" autofocus required>
                <input id="password" type="password" placeholder="Пароль" required>
            </fieldset>
            <fieldset id="actions">
                <input type="submit" id="enter" value="ВОЙТИ">
                <a href="">
                    <input type="button" id="registration" value="РЕГИСТРАЦИЯ">
                </a>
                <a href="" id="forgot">Забыли пароль?</a>
            </fieldset>
        </form>
    </div>
</div>