<div id="wrapper">
    <div id="content-home" data-ng-controller="AuthController">
        <form id="autorization-form" data-ng-submit="sendData()">
            <h1>Login</h1>
            <div id="inputs">
                <input id="username" type="text" data-ng-model="login" placeholder="Login" autofocus required>
                <input id="password" type="password" data-ng-model="password" placeholder="Password" required>
            </div>
            <div id="actions">
                <!--<div class="submit-enter"></div>-->
                <div class="button-registration"><input type="button" id="registration" value="NEW ACCOUNT"
                                                        ui-sref="registration"></div>
                <a ui-sref="forgot_pass" id="forgot">FORGOT PASSWORD?</a>
                <md-input-container>
                    <input type="submit" id="enter" value="LOGIN">
                </md-input-container>
            </div>
        </form>
    </div>
</div>