<div id="wrapper">
    <div id="content-home">
        <form id="autorization-form">
            <h1>Login</h1>
            <fieldset id="inputs">
                <input id="username" type="text" placeholder="Username" autofocus required>
                <input id="password" type="password" placeholder="Password" required>
            </fieldset>
            <fieldset id="actions">
                <div class="submit-enter"><input type="submit" id="enter" value="LOGIN" ui-sref="menu.profile"></div>
                <div class="button-registration"><input type="button" id="registration" value="NEW ACCOUNT" ui-sref="registration"></div>
                <a ui-sref="forgot_pass" id="forgot">LOST PASSWORD?</a>
            </fieldset>
        </form>
    </div>
</div>