<div id="wrapper">
    <div id="header">
        <ul class="top-menu">
            <li><a ui-sref="menu.profile">SoN</a></li>
            <li><input type="text" name="search" placeholder="search"></li>
            <li><a href="">search</a></li>
            <li><a href="">help</a></li>
            <li><a href="">settings</a></li>
            <li><a href="">log out</a></li>
        </ul>
    </div>
    <div id="content">
        <ul class="vert-menu">
            <li><a ui-sref="menu.profile">Profile</a></li>
            <li><a ui-sref="menu.face-group">Face-group</a></li>
            <li><a ui-sref="menu.friends">Friends</a></li>
            <li><a href="">Messages</a></li>
            <li><a ui-sref="menu.groups">Groups</a></li>
            <li><a ui-sref="menu.audio">Audio</a></li>
            <li><a ui-sref="menu.video">Video</a></li>
        </ul>
        <div class="content-place">
            <div data-ui-view></div>
        </div>
    </div>
</div>