<div id="groups" ng-controller="MyGroupController">

    <div class="quantity">
        <!--<p data-ng-show="groups">There are no groups !</p>-->
        <p>You are a member of {{groups.length}} communities</p>
    </div>
    <!--<div data-ng-show="!groups">-->
    <div class="filter">
        <input type="text" name="search-group" placeholder="search" ng-model="searchGroups">

        <label class="btn-groups" for="hmd">
            <div class="create-community">create community</div>
        </label>
    </div>

    <input type="checkbox" id="hmd" class="hidden-create-group">

    <div class="create-group" data-ng-controller="CreateGroupController">
        <div class="line line-name">
            <span>Name</span>
            <input type="text" name="name" data-ng-model="name">
        </div>

        <div class="line line-description">
            <span>Description</span>
            <textarea rows="3" data-ng-model="description"></textarea>
        </div>

        <div class="line line-avatar">
            <span>Avatar</span>
            <div data-ng-controller="FileUploadController" class="dialog-demo-content" layout="row" layout-wrap
                 layout-margin layout-align="center">
                <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                    Choose avatar
                </md-button>
            </div>
        </div>

        <input type="submit" name="edit" value="Create" data-ng-click="sendDataGroup()">
    </div>

    <div class="masonry-place">
        <!-- Адаптивные блоки с содержанием -->

        <div class="item" ng-repeat="group in groups | filter: searchGroups">
            <div class="top">
                <h2>{{group.name}}</h2>
                <span>{{group.folowers}} folowers</span>
            </div>
            <div class="prime">
                <a data-ng-click="gotoGroup($index)"><img src="{{group.imageUrl}}"></a>
            </div>
        </div>
    </div>
    <!-- Конец контейнера с адаптивными блоками -->
    </div>

</div>