<div id="groups" ng-controller="MyGroupController">

    <div class="quantity">
        <!--<p data-ng-show="groups">There are no groups !</p>-->
        <p>You are a member of {{groups.length}} communities</p>
    </div>
    <!--<div data-ng-show="!groups">-->
    <div class="filter">
        <input type="text" name="search-group" placeholder="search" ng-model="searchGroups">

        <label class="btn-groups" for="popupCheckboxOne">
            <div class="create-community">create community</div>
        </label>
    </div>

    <div class="forgot-pass popup-wrapper" data-ng-controller="CreateGroupController">
        <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne">
        <div class="popup">
            <div class="popup-content-createGroup">
                <label for="popupCheckboxOne" class="popup-closer">&#215;</label>

                <div class="create-group">
                    <h1>Create Group</h1>

                    <div class="line line-name">
                    <span>Name</span>
                    <input type="text" name="name" data-ng-model="name">
                    </div>

                    <div class="line line-description">
                    <span>Description</span>
                    <textarea rows="3" data-ng-model="description"></textarea>
                    </div>

                    <div class="line line-avatar">
                    <span>Avatar</span>
                        <div data-ng-controller="FileUploadController" class="dialog-demo-content">
                            <input class="choose" type="submit" value="Choose avatar" ng-click="showAdvanced($event)"/>
                        </div>
                    </div>

                    <input class="submit" type="submit" name="edit" value="Create" data-ng-click="sendDataGroup()">
                </div>
            </div>
        </div>
    </div>

    <div class="masonry-place">
        <!-- Адаптивные блоки с содержанием -->
        <div class="item md-whiteframe-4dp" ng-repeat="group in groups | filter: searchGroups">
            <div class="top">
                <h2>{{group.name}}</h2>
            </div>
            <div class="prime">
                <a data-ng-click="gotoGroup($index)"><img src="{{group.image}}"></a>
            </div>
        </div>
    </div>
    <!-- Конец контейнера с адаптивными блоками -->
    </div>

</div>