<div id="profile" data-ng-controller="ProfileController">
    <div class="place-icon">
        <div class="icon">
            <img src="{{userAvatar}}" width="100%" height="auto">
        </div>

    </div>

    <div class="place-info">
        <div class="block name">{{userName + userSubname}}</div>

        <div class="block">
            <div class="line">
                <div class="pre-line">Birthday:</div>
                <div class="post-line">{{userBirthday}}</div>
            </div>
        </div>

        <div class="block">
            <div class="big-line">Contact information</div>
            <div class="line" ng-repeat="contact in userContacts">
                <div class="pre-line">{{contact.type}}:</div>
                <div class="post-line"> {{contact.value}}</div>
            </div>
        </div>

        <div class="block">
            <div class="big-line">Location</div>
            <div class="line">
                <div class="pre-line">City:</div>
                <div class="post-line">{{userCity}}</div>
            </div>
        </div>

        <div class="block">
            <div class="big-line">About me</div>
            <div class="line">
                <div class="pre-line">{{userAbout}}</div>
            </div>
        </div>
    </div>

    <div class="add-post">
        <textarea placeholder="Add post"></textarea>
        <button>Send</button>
        <input type="file" name="file" id="file" class="inputfile">
        <label for="file">Choose a file</label>
    </div>

    <div class="place-post" data-ng-controller="PostsByIdController">
        <div class="post-container">
            <posts-addition data-ng-repeat="poster in posts"></posts-addition>
        </div>
    </div>

</div>