<div>
    <div class="close" data-ng-click="DeletePost($index)">
        <img src="image/material/cancel.png">
    </div>
    <img class="sender-face" data-ng-src="{{poster.owner.avatar}}" data-ng-click="gotoSender($index)"/>
    <div class="post-info">
        <div class="sender-name">
            <h3>{{poster.owner.name + ' ' + poster.owner.lastName}}</h3>
        </div>
        <div class="post-text">
            <p>{{poster.text}}</p>
        </div>
        <div class="post-media" data-ng-show="poster.image">
            <img data-ng-src="{{poster.image}}">
        </div>
        <div class="replies">
            <!--<img ng-src="{{likeImg}}" alt="like" width="25px" data-ng-click='increaseLike($index)'/>-->
            <span data-ng-click='increaseLike($index)'>{{poster.like}}</span>
            <!--<img ng-src="{{dislikeImg}}" alt="dislike" width="25px" data-ng-click='increaseDisLike($index)'/>-->
            <span data-ng-click='increaseDisLike($index)'>{{poster.dislike}}</span>
        </div>
    </div>
</div>