<div id="profile" data-ng-controller="ProfileController">
    <div class="place-icon">
        <div class="icon">
            <img src="{{userAvatar}}" width="100%" height="auto">
        </div>

        <div class="edit">
            <span><a ui-sref="menu.edit-profile">Edit Profile</a></span>
        </div>
    </div>

    <div class="place-info">
        <div class="block name">{{userName + userSubname}}</div>

        <div class="block">
            <div class="line pre-line">Birthday:</div>
            <div class="line post-line">{{userBirthday}}</div>
        </div>

        <div class="block">
            <div class="big-line">Contact information</div>
            <div ng-repeat="contact in userContacts">
                <div class="line pre-line">{{contact.type}}:</div>
                <div class="line post-line"> {{contact.value}}</div>
            </div>
        </div>

        <div class="block">
            <div class="big-line">Location</div>
            <div class="line pre-line">City:</div>
            <div class="line post-line">{{userCity}}</div>
        </div>

        <div class="block">
            <div class="big-line">About me</div>
            <div class="line pre-line">{{userAbout}}</div>
        </div>
    </div>

    <div class="place-post" ng-controller="PostController">
        <div ng-repeat="post in posts" class="post-container">
            <img class="sender-face" src="{{post.owner.avatar}}"/>
            <div class="post-info">
                <div class="sender-name">
                    <h3>{{post.owner.name + post.owner.lastName}}</h3>
                </div>

                <div class="post-text">
                    <p>{{post.text}}</p>
                </div>

                <div class="post-media">
                    <img src="{{post.image}}">
                </div>

                <div class="replies">
                    <img src="{{likeImg}}" alt="like" width="25px" ng-click='increaseLike($index)'/>
                    <span>{{post.like}}</span>
                    <img src="{{dislikeImg}}" alt="dislike" width="25px" ng-click='increaseDisLike($index)'/>
                    <span>{{post.dislike}}</span>
                </div>
            </div>
        </div>
    </div>
</div>