<div id="profile" data-ng-controller="ProfileController">
    <div class="place-icon">
        <div class="icon">
            <img src="{{userAvatar}}" width="100%" height="auto">
        </div>

        <div class="edit">
            <span><a ui-sref="menu.edit-profile">Edit Profile</a></span>
        </div>
    </div>

    <div class="place-info">
        <div class="block name">{{userName + ' ' + userSubname}}</div>

        <div class="block">
            <div class="line">
                <div class="pre-line">Birthday:</div>
                <div class="post-line">{{userBirthday}}</div>
            </div>
        </div>

        <div class="block">
            <div class="big-line">Contact information</div>
            <div class="line" data-ng-show="userContacts.mobile">
                <div class="pre-line">Mobile:</div>
                <div class="post-line"> {{userContacts.mobile}}</div>
            </div>
            <div class="line" data-ng-show="userContacts.skype">
                <div class="pre-line">Skype:</div>
                <div class="post-line"> {{userContacts.skype}}</div>
            </div>
            <div class="line" data-ng-show="userContacts.email">
                <div class="pre-line">Email:</div>
                <div class="post-line"> {{userContacts.email}}</div>
            </div>
        </div>

        <div class="block">
            <div class="big-line">Location</div>
            <div class="line">
                <div class="pre-line">City:</div>
                <div class="post-line">{{userCity}}</div>
            </div>
        </div>

        <div class="block">
            <div class="big-line">About me:</div>
            <div class="line">
                <div class="pre-line">{{userAbout}}</div>
            </div>
        </div>
    </div>

    <div class="add-post">
        <textarea placeholder="Add post"></textarea>
        <button data-ng-click="PostIt()">Send</button>
        <input type="file" name="file" id="file" class="inputfile">
        <label for="file">Choose a file</label>
    </div>

    <div class="place-post" data-ng-controller="MyPostController">
        <div class="post-container" data-ng-repeat="poster in posts">
            <img class="sender-face" data-ng-src="{{poster.owner.avatar}}"/>
            <div class="post-info">
                <div class="sender-name">
                    <h3>{{poster.owner.name + ' ' + poster.owner.lastName}}</h3>
                </div>

                <div class="post-text">
                    <p>{{poster.text}}</p>
                </div>

                <div class="post-media">
                    <img data-ng-src="{{poster.image}}">
                </div>

                <div class="replies">
                    <img ng-src="" alt="like" width="25px" data-ng-click='increaseLike($index)'/>
                    <span>{{poster.like}}</span>
                    <img ng-src="" alt="dislike" width="25px" data-ng-click='increaseDisLike($index)'/>
                    <span>{{poster.dislike}}</span>
                </div>
            </div>
        </div>
    </div>

</div>