<div id="wrapper">
    <div id="content-registration">
        <h1 id="signup">Sign Up</h1>
        <form name="registrationForm" ng-controller="RegController" data-ng-submit="update()">
            <div class="data">
                <div class="line line-name">
                    <label>
                        <span>First Name</span>
                        <input type="text" name="name" required ng-model="firstName" minlength="3" maxlength="20"
                               ng-pattern="/^[A-Za-z]*$/"/>

                        <p ng-show="registrationForm.name.$error.required && registrationForm.name.$pristine != true">
                            Field can not be empty, check it.</p>
                        <p ng-show="registrationForm.name.$error.pattern && registrationForm.name.$pristine != true">May
                            contain only latin symbols</p>
                    </label>
                </div>
                <div class="line line-lastname">
                    <label>
                        <span>Last Name</span>
                        <input type="text" name="lastname" required ng-model="lastName" maxlength="20"
                               ng-pattern="/^[A-Za-z]*$/"/>

                        <p ng-show="registrationForm.lastname.$error.required && registrationForm.lastname.$pristine != true">
                            Field can not be empty, check it.</p>
                        <p ng-show="registrationForm.lastname.$error.pattern && registrationForm.lastname.$pristine != true">
                            May contain only latin symbols</p>
                    </label>
                </div>

                <div class="line line-login">
                    <label>
                        <span>Login</span>
                        <input type="text" name="login" required ng-model="login" maxlength="20"
                               ng-pattern="/^[A-Za-z0-9]*$/"/>

                        <p ng-show="registrationForm.login.$error.required && registrationForm.login.$pristine != true">
                            Field can not be empty, check it.</p>
                        <p ng-show="registrationForm.login.$error.pattern && registrationForm.login.$pristine != true">
                            May contain only latin symbols and numbers</p>
                    </label>
                </div>

                <div class="line line-password">
                    <label>
                        <span>Password</span>
                        <input type="password" name="password" required ng-model="password" maxlength="20"
                               ng-pattern="/^[A-Za-z0-9]*$/"/>

                        <p ng-show="registrationForm.password.$error.required && registrationForm.password.$pristine != true">
                            Field can not be empty, check it.</p>
                        <p ng-show="registrationForm.password.$error.pattern && registrationForm.password.$pristine != true">
                            May contain only latin symbols and numbers</p>
                    </label>
                </div>

                <div class="line line-confirmpassword">
                    <label>
                        <span>Confirm Pass</span>
                        <input type="password" name="confirmPassword" required ng-model="confirmPass" maxlength="20"
                               ng-pattern="/^[A-Za-z0-9]*$/"/>

                        <p ng-show="registrationForm.confirmPassword.$error.required && registrationForm.confirmPassword.$pristine != true">
                            Field can not be empty, check it.</p>
                        <p ng-show="registrationForm.confirmPassword.$error.pattern && registrationForm.confirmPassword.$pristine != true">
                            May contain only latin symbols and numbers</p>
                    </label>
                </div>

                <div class="line line-email">
                    <label>
                        <span>Email</span>
                        <input type="email" name="email" required ng-model="email" maxlength="20"
                               ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"/>

                        <p ng-show="registrationForm.email.$error.required && registrationForm.email.$pristine != true">
                            Field can not be empty, check it.</p>
                        <p ng-show="registrationForm.email.$error.pattern && registrationForm.email.$pristine != true">
                            Incorrect email format, check it.</p>
                    </label>
                </div>

                <div class="line line-sex">
                    <label>
                        <span>Sex</span>
                        <label>
                            <input type="radio" name="sex" value="1" ng-model="sex">
                            <span class="sex">Man</span>
                        </label>
                        <label>
                            <input type="radio" name="sex" value="0" ng-model="sex" checked>
                            <span class="sex">Woman</span>
                        </label>
                    </label>
                </div>

                <div class="line line-birthday">
                    <span>Birthday</span>
                    <div>
                        <input type="number" maxlength="2" ng-model="DD">
                        <input type="number" maxlength="2" ng-model="MM">
                        <input type="number" maxlength="4" ng-model="YYYY">
                        <!--<input time="false" date="true" mdc-datetime-picker="" type="text" ng-model="birthDate"-->
                               <!--min-date="minDate" max-date="maxDate" class="md-input" format="DD/MM/YYYY">-->
                    </div>
                </div>
                <input type="submit" name="signup" value="Send">
            </div>
        </form>
    </div>
</div>