<div id="friends" ng-controller="PeopleSearch">

    <div class="filter">
        <input type="text" name="search-group" placeholder="search" ng-model="searchFriends">
    </div>

    <div class="masonry-place">
        <!-- Адаптивные блоки с содержанием -->

        <div id="Search People" class="item md-whiteframe-4dp" ng-repeat="friend in people">
            <div class="top">
                <h2>{{friend.name + " " + friend.subname}}</h2>
            </div>
            <div class="prime" data-ng-click="gotoUser($index)">
                <img src="{{friend.avatar}}">
            </div>
            <div class="bottom">
                <div class="control-panel">
                    <div class="delete"><a href=""><img src="image/add_black.png"></a></div>
                    <div class="mail"><a href=""><img src="image/mail_black.png"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Конец контейнера с адаптивными блоками -->
</div> 