<div id="groups" ng-controller="GroupSearchController">
    <div class="masonry-place">
        <!-- Адаптивные блоки с содержанием -->
        <div class="item" ng-repeat="group in groups | filter: searchGroups">
            <div class="top">
                <h2>{{group.name}}</h2>
            </div>
            <div class="prime">
                <a data-ng-click="gotoGroup($index)"><img src="{{group.image}}"></a>
            </div>
        </div>
    </div>
    <!-- Конец контейнера с адаптивными блоками -->
</div>