body{
    padding: 2%;
}
.wallContent{
    max-width: 700px;
}
.cardContent{
    padding: 2%;
}

.divmargin{
    margin-bottom: 50px;
}
#wallHeader{
    overflow: hidden;
    text-align: center;
    position: absolete;
}

#wallHeaderAvatar{
    float: left;
    margin: 20%;
}
.wallHeaderProps{
    float: right;
    margin: 0.5%;
}
.wallHeaderText{
    text-align: center;
    font-size: 150%;
}
.wallFooter{
    float: right;
}
.footerContent{
    overflow: hidden;
}
