@import url(reset.css);

body {
    
    font: 14px/1.5 Arial, Verdana, sans-serif;
    color: #353535;
    text-align: center;
}

#wrapper {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    height: 636px;                    /*need change*/
    background: #FDD223;   
}

a:hover {
    background: #eeeeee;
}

.top-menu {
    border: 1px solid #e5e5e5;
    background: green;
}

.top-menu li {
    display: inline-block;
    margin-right: -4px;
    width: 11%;
}

.top-menu li:nth-child(1) {
    width:22%;
}

.top-menu li:nth-child(2) {
    width:34%;
}

.top-menu li a {
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    padding:10px 15px;
    margin-right:-5px;
}

.vert-menu {
    float: left;
    width: 180px;
    height: 636px;
    background: yellow;
}

.vert-menu li {
    background-color: brown;
}

.vert-menu li a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #0088cc;
    border: 1px solid #e5e5e5;
}

.place-friend {
    margin: 20px 20px 0px 20px;
    float: left;
    width: 45%;
    background: orange;
}

.place-friend .icon {
    float: left;
    margin:10px;
    padding: 51px;
    border:1px solid black;
}

.place-friend .friend {
    float: left;
    width: 50%;
    margin:10px 0px;
    padding: 10px;
    border:1px solid black;
    text-align: left;
}

.place-friend .name {
    font-size: 16px;
    margin-bottom: 10px;
}

.place-friend .friend .buttons li {
    background-color: #E0BE38;
}

.place-friend .friend .buttons li a {
    display: block;
    margin-bottom: -1px;
    padding: 1px;
    text-decoration: none;
    color: #0088cc;
    border: 1px solid #e5e5e5;
}